@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "poppins";
    box-sizing: border-box;
}

@import '../variables/extend';
@import '../variables/mixims';
@import '../variables/tipografia';

@import '../secciones/animaciones';
@import '../secciones/contacto';
@import '../secciones/index';
@import '../secciones/inspo';
@import '../secciones/nosotros';
@import '../secciones/productos';
@import '../secciones/servicios';

/* HEADER DE TODAS LA PAGINAS */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f2f1;
    color: rgb(205, 226, 161);
    padding: 20px;
    animation-name: cambioColor;
    animation-duration: 5s;

}

.logo img {
    height: 80px;
    max-width: 100%;

}


.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    margin: 15px;
    font-size: 40px;
}




.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: rgb(226, 239, 189);
    background-color: #f6f2f1;

}

.navbar-nav a {
    margin: 10px;
    text-decoration: none;
    color: rgb(225, 193, 233);

    border-color: #f9f1ee;


}

.navbar-nav :hover {
    color: rgb(205, 226, 161);

    ;

}

.navbar-toggler-icon {
    background-color: #f6f2f1;
    color: #f6f2f1;
}

footer {
    background-color: #eacce4;

    height: 100px;
}

.footer-style {
    margin: 20px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.redes h6 {
    font-size: 14px;
}

.footer-icon {
    color: rgb(249, 236, 219);
    font-size: 40px;
    padding: 0px 20px 0px 0px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(249, 236, 219)
}

.carrito input {
    border-radius: 5px;
    border: #dba1be 1px solid;


}

.carrito i {
    font-size: 20px;
}

/* PAGINA PRODUCTOS */

.shop h2 {
    text-align: center;
    color: #c6a5e1;
    padding: 10px;

}

.shop h3 {
    text-align: center;
    color: #a682c4;
    padding: 10px;
    font-size: 22px;
    background-color: #e8dff0;

}

@media (max-width:480px) {
    /* Galeria inspo */

    .galeria {
        width: 100%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 5rem;
        padding: 20px;
    }

    .galeria img {
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    .galeria :hover {
        opacity: 0.9;
        color: rgb(232, 169, 206);
    }



    /* Media Productos */



    .container-products {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;

    }


    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        font-size: 20px;
    }

    .logo img {
        height: 40px;
        width: 40px;
    }

    .contact-in {
        height: fit-content;
        display: flex;
        align-items: center;
        padding: 20px;

    }

    .contact-map iframe {
        width: fit-content;
        display: flex;
        align-items: center;

    }

    .seguinos {
        display: none;
    }

    .galeria img {
        flex-direction: column;
        row-gap: (1rem, 3rem);
    }

    .footer-icon {
        font-size: 22px;
    }

    .contact-form-btn {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 50px;
        background-color: rgb(222, 187, 232);
        text-transform: uppercase;
        padding: 10px 0;
        font-size: 14px;

    }

    .contenedor-programs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
        font-size: 15px;

    }

    .program2 {
        width: 60%;
    }

    .program2 h3 {
        font-size: 20px;
    }

    .program2 p {
        font-size: 16px;
    }

    .program img {
        width: 110%;
        border-radius: 10px;
        padding-bottom: 10px;
    }



    .section2 p {
        font-family: 'lobster';
        color: #5b5b50;
        font-size: 18px;
    }

    .section3 h4 {
        font-size: 16px;
    }

    .section3 p {
        font-family: $textoPrincipalh2;
        color: #d6d6c2;
        font-size: 18px;
        background-color: #7e7e6f;
        opacity: 0.9;
        padding: 10px;
    }
.grilla {
    
    background-color: #f6f4ec;
    color: #f9f0ee;
    font-weight: bold;

}
.grilla h4 {
    font-size: 14px;
}
    .section1 {
        grid-area: section1;
        background-image: url(../imagenes/lamp10.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        color: #fbfafb;
        font-size: 15px;
        padding: 10px;
        margin: 5px;
        width: 100%;
}


    .section2 {
        grid-area: section2;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        color: #332831;
        font-size: 18px;
        padding: 10px;
        margin: 5px;
    }

    .section3 {
        grid-area: section3;
        background-image: url(../imagenes/section3.jpg);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        color: #faf1f8;
        font-size: 18px;
        padding: 10px;
        margin: 5px;
    }

    .section1 h4 {
        font-family: $textoPrincipalh2;
        font-size: 30px;
        color: #e0c4cf;
        text-align: center;
    }

    .section1 p {
        font-family: $textoPrincipalh2;
        font-size: 18px;
        background-color: #5b5b50;
        padding: 5px;
        opacity: 0.8;
        color: #f2e3ed;

    }

    .section2 h4 {
        font-family: $textoPrincipalh2;
        color: #5b5b50;
        font-size: 18px;
    }

    .section2 p {
        font-family: 'lobster';
        color: #5b5b50;
        font-size: 18px;
    }

    .section3 h4 {
        font-size: 20px;
    }

    .section3 p {
        font-family: $textoPrincipalh2;
        color: #d6d6c2;
        font-size: 20px;
        background-color: #7e7e6f;
        opacity: 0.9;
        padding: 10px;
    }

    .section2 img {
        width: 100%;
    }





    @media (max-width:450px) {

        /* Galeria inspo */

        .galeria {
            width: 100%;
            display: grid;
            margin: auto;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 3rem;
            row-gap: 5rem;
            padding: 20px;
        }

        .galeria img {
            width: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        .galeria :hover {
            opacity: 0.9;
            color: rgb(232, 169, 206);
        }


        /* Media Productos */
        .container-products {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(1, 1fr);
            padding: 10px;

        }


        /* Media Servicios */





        /* Logo y Navbar */

        .logo img {
            height: 30px;
            width: 30px;
        }

        .navbar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .navbar-nav {

            margin-top: 5px;

        }

        .navbar-toggler {
            flex-direction: column;


        }

        .footer-icon {
            font-size: 20px;
        }

        .contact-in {
            height: fit-content;

        }

        .contact-map iframe {
            width: fit-content;
            display: flex;
            align-items: center;
        }

        .contenedor h2 {
            font-size: 20px;
            color: rgb(227, 193, 205);
        }
    }

    .contenedor h3 {
        font-size: 18px;
    }

    .program p {
        font-size: 16px;
    }

    .program2 {
        width: 50%;
    }

    /* Media Servicios */


    .section2 p {
        font-family: 'lobster';
        color: #5b5b50;
        font-size: 20px;
    }

}