main {
    background-color: rgb(249, 245, 248);
    padding: 10px;
    font-weight: normal;
}

.contenedor h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: #b6b3ae;
    background-color: #f8f6e8;
    font-family: $textoPrincipalh2;
    font-size: $textoTamano;
    padding: 20px;
}

.contenedor h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    color: #dba1be;

}

.contenedor-programs {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.program img {
    width: 100%;
    border-radius: 20px;
}

.program p {
    font-size: 18px;
    text-align: center;
    font-family: $textoPrincipalh2;
    color: #5b5b50;
    background-color: #efd0df;
    opacity: 0.5;
    border: 2px solid rgb(226, 212, 207);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
   



}

/* Slider con Bootstrap */
.carousel-item :hover {
    filter: blur(2px);
    transition: .3s;
    padding: 0;
    background-size: cover;
}


.subir_arriba {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #dba7c1;
    color: #f7ddea;
    border-radius: 50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-align: right;
    position: fixed;
    bottom: 250px;
    right: 30px;
    cursor: pointer;
    margin: 5px;
}