.container-products {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;

}

.product {
    border: 2px solid rgb(254, 253, 253);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;

}

.product i {
    color: #cf8dc3;
    text-align: center;
    cursor: pointer;
}

.product__tittle {
    text-align: center;
    color: #dba1be;
    font-size: 16px;
    padding: 5px;
}

.product__price {
    color: #cf8dc3;
    font-weight: bold;
    text-align: center;
}

.product img:hover {
    transform: scale(1.1);

}

.shop h2 {
    @include h2productos;
}

.subir_arriba {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #dba7c1;
    color: #efd0df;
    border-radius: 50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-align: right;
    position: fixed;
    bottom: 250px;
    cursor: pointer;
    margin: 5px;
}