

.grilla {
    display: grid;
    grid-template-columns: 7fr 8fr 8fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "aside section1 section1 section1"
        "aside section2 section2 section2"
        "aside section3 section3 section3";
    background-color: #f6f4ec;
    color: #f9f0ee;
    font-weight: bold;

}

.aside {
    grid-area: aside;
    background-image: url(../imagenes/aside.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    display: flex;
    background-position: center;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}

.section1 {
    grid-area: section1;
    background-image: url(../imagenes/lamp10.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    color: #f0d9f0;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    


}

.section2 {
    grid-area: section2;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    color: #332831;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
}

.section3 {
    grid-area: section3;
    background-image: url(../imagenes/section3.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    color: #e5c3d1;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
}

.section1 h4 {
    font-family: $textoPrincipalh2;
    font-size: 70px;
    color: #b1a98a;
}

.section1 p {
    font-family: $textoPrincipalh2;
    font-size: 25px;
    background-color: #5b5b50;
    padding: 15px;
    opacity: 0.8;
    color: #ebe7d5;

}

.section2 h4 {
    font-family: $textoPrincipalh2;
    color:  #5b5b50;
}
.section2 p {
    font-family: 'lobster';
    color: #5b5b50;
    font-size: 25px;
}
 .section3 h4 {
    font-size: 30px;
 }
.section3 p {
    font-family: $textoPrincipalh2; 
    color: #d6d6c2;
    font-size: 20px;
    background-color: #7e7e6f;
    opacity: 0.9;
    padding: 10px;
}

.aside h4 {
    background-color: #7e7e6f;
    opacity: 0.5;
}

.subir_arriba {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #dba7c1;
    color: #efd0df;
    border-radius: 50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-align: right;
    position: fixed;
    bottom: 250px;
    cursor: pointer;
    margin: 5px;
}